.footer {
    background-color: black;
    padding: 20px;
    width: 100%;
    @media(max-width:600px) {
        padding: 10px;
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    &-container {
        display: flex;
        justify-content: center;
        img {
            margin-right: 10px;
            @media(max-width: 600px) {
                width: 30px;
                height: 30px;
            }
        }
    }
    p {
        color: #ffff;
        text-align: center;
        font-size: 12px;
        @media(max-width: 600px) {
            margin-top: 10px;
        }
    }
}