@import url(https://fonts.googleapis.com/css?family=Raleway);
div {
    font-family: sans-serif;
    // font-weight: 500;
    color: #C5C6C7;
}
.aboutMeHead {
    font-size: 20px;
    margin: 100px 500px 0px 350px;
    @media(max-width: 800px) {
        margin: 50px 50px 0px 10px;
        font-size: 15;
    }
    div {
        background-color: #66FCF1;
        height: 5px;
        margin: 0px 950px 30px 0px;
        @media(max-width: 800px) {
            margin: 0px 250px 10px 0px;
        }
    }

    h2 {
        margin-bottom: 10px;
        color: #66FCF1;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-size: 20px;
        font-family: 'Raleway';
        @media(max-width: 800px) {
            font-size: 20px;
            line-height: 25px;
        }
    }
    p {
        font-size: 20px;
        line-height: 35px;
        @media(max-width: 800px) {
            font-size: 18px;
            line-height: 25px;
        }

    }
}
.aboutMe {
    align-items: center;
    display: flex;
    // justify-content: space-between;
    // background-color: #F5F5F5;
    margin: 50px 0px 50px 350px;
    // text-align: center;
    @media(max-width: 800px) {
        margin: 20px 0px 50px 350px;
        // padding: 15px 5px 5px 5px;
        display: inline;
        // background-color: #ffff;
        // width: 100%;
    }
    h2 {
        text-transform: uppercase;
        letter-spacing: 0.1em;
        margin-bottom: 20px;
        font-size: 20px;
        color: #66FCF1;;
        @media(max-width: 800px) {
            margin: 10px 10px;
        }
    }
    p {
        margin-right: 30%;
        padding-bottom: 15px;
        line-height: 25px;
        font-size: 18px;
        @media(max-width: 800px) {
            font-size: 16px;
            margin: 0px 10px;
            
        }
    }
    button {
        padding: 15px;
        font-size: 18px;
        border-radius: 5px;
        border: 2px solid #66FCF1;
        cursor: pointer;
        background-color: #9fb0f500;
        color: #C5C6C7;
        font-weight: 500;
        @media(max-width: 800px) {
            font-size: 16px;
            margin: 0px 10px 10px 10px;
            padding: 10px;
        }
    }
    
    // &-container {
    //     position: relative;
    //     @media(max-width: 800px) {
    //         width: 100%;
    //     }
    // }
    // &-Img {
    //     width: 450px;
    //     padding: 20px 20px 0px;
    //     border: 5px solid #007bff;
    //     background-color: #1d1b1b;
    //     // background-color: #8aa7ca;
    //     border-radius: 5px;
    //     @media(max-width: 800px) {
    //         width: 100%;
    //         padding: 5px 5px 0px;
    //         border: none;
    //         border-radius: 0;
    //         background-color: #343434;
    //     }
        
    //     img {
    //         margin-right: 0px;
    //     }
    // }
    &-aboutImg {
        @media(max-width:800px) {
            width: 100%;
            height: 400px;
        }
    }
    &-flex{
        display: flex;
        padding: 10px 70px 10px 70px;
        justify-content: space-between;
        img {
            margin: 0px 0px;
            @media(max-width: 800px) {
                width: 25px;
                height: 25px;
            }
        }
    }
    &-skills {
        width: 580px;
        color: rgb(97, 95, 95);
        display: grid;
        grid-template-columns: auto auto;
        @media(max-width: 800px) {
            grid-column-gap: 0px;
            grid-row-gap: 10px;
            width: 350px;
            margin: 0px 10px 0px 10px;
        }

        .grid-item {
            padding-bottom: 10px;
            font-size: 18px;
            @media(max-width: 800px) {
                font-size: 16px;
                padding-bottom: 5px;
                // grid-template-columns: auto auto;
                
            }
        }
        img {
            margin-right: 10px;
            @media(max-width: 800px) {
                margin-right: 0px;
                width: 10px;
            }
        }
        @media(max-width: 800px) {
            font-size: 15px;
        }
    }

    &-mainSkill {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 30px;
        margin: 0px 450px 0px 0px;

        div {
            background-color: #66FCF1;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            text-align: center;
            font-size: 14px;
            color: #0B0C10;
            font-weight: bold;
            padding: 15px;
            border-radius: 5px;
            @media(max-width: 800px) {
                padding: 5px;
                border-radius: 0px;
            }
        }
        @media(max-width: 800px) {
            grid-column-gap: 5px;
            grid-row-gap: 5px;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(4, 1fr);
            margin: 30px 10px 20px 10px;

        }

    }
    
    &-text {
        color: rgb(158, 152, 152);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: #343434;
        width: 600px;
        line-height: 1.5;
        padding: 25px;
        text-align: justify;
        position: absolute;
        bottom: 220px;
        border-radius: 5px;
        left: 384px;
        font-family: 'Courier New', Courier, monospace;
        @media(max-width: 800px) {
            padding: 5px;
            position: absolute;
            border-radius: 0;
            left: 0px;
            width: 100%;
            margin-top: 200px;
            top: 259px;
            height: 350px;
            border: none;
        }
        div {
            border-radius: 5px;
            border: 5px solid #007bff;
            padding: 20px;
            @media(max-width:800px) {
                padding: 10px;
                border: none;
            }
        }
    }
}